################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OrderProcessing/obj
/.vs
/OrderManagement/OrderProcessor/bin/Debug/net8.0
/OrderManagement/OrderProcessor/obj
